<div class="row">
  <div class="col-md-6 mx-auto my-5">
    <section class="form-elegant">
      <mdb-card>
        <mdb-card-body class="mx-4">
          <!--Header-->
          <div class="text-center">
            <h3 class="dark-grey-text mb-5">
              <strong>Connexion</strong>
            </h3>
          </div>

          <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

            <div class="md-form mb-2">
              <select class="browser-default custom-select" formControlName="type" id="type"
                      name="type">
                <option [defaultSelected]="true" disabled value="">Selectionnez votre catégorie</option>
                <option value="prof">Prof</option>
                <option value="eleve">Elève</option>
              </select>
              <label for="type">Type</label>
            </div>

            <div class="md-form">
              <input class="form-control" name="email" type="text"
                     id="email" formControlName="email" mdbInput>
              <label for="email">Email</label>
            </div>

            <div class="md-form pb-3">
              <input type="password" id="elegantFormPasswordEx" class="form-control" name="password"
                     formControlName="password" mdbInput>
              <label for="elegantFormPasswordEx">Mot de passe </label>
            </div>
            <br>
            <div class="text-center mb-3">
              <button mdbBtn gradient="blue" block="true" rounded="true"
                      class="z-depth-1a waves-light" type="submit"
                      [disabled]="signInForm.invalid"
                      mdbWavesEffect>Connexion
              </button>
            </div>
          </form>
          <span class="text-danger">{{ errorMessage }}</span>
          <!--Body-->


          <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> OU connexion
            avec </p>

          <div class="row my-3 d-flex justify-content-center">
            <!--Google +-->
            <button type="button" mdbBtn color="white" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect
                    (click)="loginGoogle()" [disabled]="!signInForm.get('type')">
              <mdb-icon fab fab icon="google-plus" class="blue-text"></mdb-icon>
            </button>
          </div>
        </mdb-card-body>
        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
          <p class="font-small grey-text d-flex justify-content-end">je n'ai pas de compte?
            <a [routerLink]="['/register-user']" class="blue-text ml-1"> Créer un compte</a>
          </p>
        </div>
      </mdb-card>

    </section>
  </div>
</div>
