<div class="row">
  <div class="col-md-6 mx-auto my-5">
    <section class="form-elegant">
      <mdb-card>
        <mdb-card-body class="mx-4">
          <!--Header-->
          <div class="text-center">
            <h3 class="dark-grey-text mb-5">
              <strong>Créer un compte</strong>
            </h3>
          </div>

          <form [formGroup]="signupForm">
            <div class="md-form">
              <input type="text" id="elegantFormNom" class="form-control"  mdbInput>
              <label for="elegantFormNom">Nom</label>
            </div>

            <div class="md-form">
              <input type="text" id="elegantFormPrenom" class="form-control"  mdbInput>
              <label for="elegantFormNom">Prenom</label>
            </div>

            <div class="md-form">
              <input type="text" id="elegantFormEmail"  class="form-control" mdbInput>
              <label for="elegantFormEmail">Email</label>
            </div>

            <div class="md-form pb-3">
              <input type="password" id="elegantFormPassword"  class="form-control" mdbInput>
              <label for="elegantFormPassword">Mot de passe </label>
            </div>
          </form>
          <!--Body-->

          <div class="text-center mb-3">
            <button type="button" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>Créer un compte</button>
          </div>
          <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> OU Créér un compte avec </p>

          <div class="row my-3 d-flex justify-content-center">
            <!--Google +-->
            <button type="button" mdbBtn color="white" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>
              <mdb-icon fab fab icon="google-plus" class="blue-text"></mdb-icon>
            </button>
          </div>
        </mdb-card-body>
        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
          <p class="font-small grey-text d-flex justify-content-end">j'ai pas un compte?
            <a  routerLink="sign-in" class="blue-text ml-1"> Connexion</a>
          </p>
        </div>
      </mdb-card>

    </section>
  </div>
</div>
