<div class="container" id="p-cont">
  <br>
  <h1 class="text-center">
    <i class="fa fa-dashboard"></i>
    Tableau de bord - {{type}}
  </h1>
  <br>
  <div class="row">
    <div *ngIf="type === 'eleve'" class="col-8">
      <div class="border-primary ">
        <div class="card-header ">
          <h3 class="card-title">
            <i class="fa fa-book"></i>
            Vos reservations
          </h3>
        </div>
        <div class="card-body border">
          <div>
            <div class="table-responsive">
              <p-table>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Matiere</th>
                    <th>Description</th>
                    <th>Heure cours</th>
                    <th>Date cours</th>
                    <th>Action</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-p>
                    <tr>
                      <td>
                        <button type="button"
                                class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              <br>
            </div>
          </div>
        </div>
        <ng-template #content>
          <b style="text-align: center; color: #3b5998">Vous n'avez pas ajouter de contenue dans votre
            panier</b>
        </ng-template>
      </div>
    </div>
    <div [class.col-12]="type === 'prof'" [class.col-4]="type === 'eleve'" *ngIf="type === 'prof' || 'eleve'">
      <div class="border-primary ">
        <div class="card-header">
          <h3 class="card-title">
            Vos informations
          </h3>
        </div>
        <div class="card-body border" *ngIf="eleve || prof">
          <p>
            <img height="150" width="150" src="{{userPhoto?.photo}}" alt="profile">
          </p>
          <h4>{{eleve?.nomEleve || prof?.nomProf}} {{eleve?.prenomEleve || prof?.prenomProf}}</h4>
          <p>
            <button (click)="afficherDialogProfil()" [class.btn-float]="type === 'prof'" class="btn btn-success"
                    type="button">
              <i class="fa fa-user"></i>
              Modifier Vos informations
            </button>
          </p>
          <p>
            <b>Nom :</b>
            <br>
            {{eleve?.nomEleve || prof?.nomProf}}
          </p>
          <p>
            <b>Prenom :</b>
            <br>
            {{eleve?.prenomEleve || prof?.prenomProf}}
          </p>
          <p>
            <b>Email :</b>
            <br>
            {{eleve?.mailEleve || prof?.mailProf}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
<app-profil-dialog *ngIf="eleve" [afficherDialog]="afficherDialog" [eleve]="eleve"
                   (onDialogHide)="onHideProfilDialog()"></app-profil-dialog>
<app-prof-diaolg *ngIf="prof" [afficherDialog]="afficherDialog" [prof]="prof" (onDialogHide)="onHideProfilDialog()">

</app-prof-diaolg>
