<p-dialog header="Profile" [(visible)]="afficherDialog" [modal]="true" [responsive]="true"
          [style]="{width: '400px', minWidth: '250px'}" [minY]="90"
          [maximizable]="true" [baseZIndex]="10000" (onHide)="onHide()">
  <form>
    <div class="form-group">
      <label for="ProfId">Profil du professeur</label>
      <select [(ngModel)]="cour.profId" id="ProfId" name="ProfId">
        <option value="1">1</option>
        <option value="2">2</option>
        <!--        <option *ngFor="let type of typesProf" [value]="type">{{typesProf}}</option>-->
      </select>
    </div>
    <div class="form-group">
      <label for="dateCour">Date de cour</label>
      <input [(ngModel)]="cour.dateCours" class="form-control" id="dateCour" name="dateCour"
             placeholder="Entrez la date du cour" required type="date">
    </div>
    <div class="form-group">
      <label for="heureCour">Date de début du cour</label>
      <input [(ngModel)]="cour.dateCours" class="form-control" id="heureCour" name="heureCour"
             placeholder="Entrez la date du cour" required type="datetime-local">
    </div>
    <br>
    <p-footer>
      <button type="button" pButton (click)="ajouterCour(cour)" label="Ajouter"
              class="ui-button-rounded" style="margin-right: 10px"></button>
      <button type="button" pButton icon="fa fa-close" (click)="afficherDialog=false" label="Annuler"
              class="ui-button-secondary ui-button-rounded"></button>
    </p-footer>
  </form>
</p-dialog>
