/* You can add global styles to this file, and also import other style files */
*

label{
  margin-top: 5px;
}

html,
body {
 
  font-family: 'Cambria', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* Responsive */
@media(max-width:767px) {
  .sidebar {
    position: static;
    padding: 40px 0 10px;
    height: auto;
  }
}

