<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3> Modifiez Votre mot de passe </h3>

      <p class="text-center"> Entrez votre email pour modifier votre mot de passe.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email " #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Modifier mot de passe" ">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Retour ? <span class="redirect" routerLink="/sign-in">Connexion</span></span>
    </div>

  </div>
</div>

