<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<footer class="footer1">
  <div class="row">
    <div class="col">
      <div class="container">
        <br>
        <h5>Contact Us</h5>
        <ul>
          <li><a href="#">7 Rue vieux chaines, Meylan 38710</a></li>
          <li><a href="#">0751235487</a></li>
          <li><a href="#">soft-wei@gmail.com</a></li>
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="container">
        <br>
        <h5>Legal</h5>
        <ul>
          <!-- button Privacy-->
          <li data-toggle="modal" data-target="#Terms">Terms</li>

          <!-- Modal Terms-->
          <div class="modal fade" id="Terms" tabindex="-1" role="dialog" aria-labelledby="TermsContent" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <!--Modal Terms header-->
                <div class="modal-header">
                  <h5 class="modal-title" id="TermsContent">Soft-Wei Terms</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

               
                <!--Modal Terms footer-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- button Privacy-->
          <li data-toggle="modal" data-target="#Privacy">Privacy</li>

          <!-- Modal Privacy-->
          <div class="modal fade" id="Privacy" tabindex="-1" role="dialog" aria-labelledby="PrivacyContent" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <!--Modal Privacy header-->
                <div class="modal-header">
                  <h5 class="modal-title" id="PrivacyContent">Soft-Wei Privacy</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <!--Modal Privacy body-->
                <div class="modal-body">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Culpa laborum, voluptas quos asperiores aut facere quas esse officiis iusto quisquam?
                  Cum corrupti eveniet fugit voluptatibus. Ex maiores omnis aperiam numquam!
                </div>

                <!--Modal privacy footer-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </ul>
      </div>
    </div>

    <div class="col">
      <div class="container">
        <br>
        <h5>Follow Us</h5>
        <div class="row">
          <div class="col"><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></div>
          <div class="col"><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></div>
          <div class="col"><a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></div>
          <div class="col"><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></div>
          <div class="col"><a href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a></div>
          <div class="col"><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col" style="text-align: right;font-size: 12px; margin-bottom: 0px;"><br/><br/>© Copyright 2020</div>
        </div>
      </div>
    </div>

  </div>
</footer>

