footer{
  position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  background-color: #0c335f;
  color: white;
  text-align: center;
  margin-top: 100px;
 // height: 200px;
}

ul{
  list-style: none;
  text-align: left;
}

a{
  color: #e0ebeb;
}

.modal-body{
  color: #446b97;
}

.modal-title{
  color: #0c335f;
}
